# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives: **

* List popular languages for Data Science
* List popular libraries for Data Sciende
* List a few example

Some of the popular languages that Data Scientists use are:
1. R
2. python
3. Julia
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

|Data Science Tools|
|-|
|Spark|
|Flink|
|MySQL|
|OpenGuass|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Xu Zihan